.cls-1 {
  fill: #5a4533;
}
.cls-2 {
  fill: none;
}
.cls-3 {
  fill: #9e492b;
}
.cls-4 {
  isolation: isolate;
}
.cls-5 {
  fill: #bfda7a;
}
.cls-6 {
  fill: #b6d66a;
}
.cls-7 {
  fill: #8cad52;
}
.cls-8 {
  fill: #d1e49e;
}
.cls-9 {
  fill: #99ca3e;
}
.cls-10 {
  fill: #3c4344;
}
.cls-11,
.cls-31,
.cls-46 {
  fill: #231f20;
}
.cls-11,
.cls-56 {
  opacity: 0.32;
}
.cls-11,
.cls-18,
.cls-27,
.cls-29,
.cls-31,
.cls-32,
.cls-33,
.cls-46,
.cls-47,
.cls-52,
.cls-53,
.cls-56,
.cls-59,
.cls-65,
.cls-68,
.cls-83 {
  mix-blend-mode: multiply;
}
.cls-12 {
  clip-path: url(#clip-path);
}
.cls-13,
.cls-57,
.cls-81 {
  fill: #fff;
}
.cls-13 {
  opacity: 0.37;
}
.cls-13,
.cls-41,
.cls-81 {
  mix-blend-mode: overlay;
}
.cls-14 {
  fill: #9cb946;
}
.cls-15 {
  fill: #b1d238;
}
.cls-16 {
  fill: #c2d83c;
}
.cls-17 {
  clip-path: url(#clip-path-2);
}
.cls-18 {
  fill: #907151;
  opacity: 0.61;
}
.cls-19 {
  fill: #96b930;
}
.cls-20 {
  fill: #b5d43f;
}
.cls-21 {
  clip-path: url(#clip-path-3);
}
.cls-22 {
  fill: #a4c239;
}
.cls-23 {
  fill: #b8d434;
}
.cls-24 {
  fill: #9e5f46;
}
.cls-25 {
  fill: #151515;
}
.cls-26 {
  fill: #b9896b;
}
.cls-27 {
  opacity: 0.35;
}
.cls-28 {
  fill: #7b593d;
}
.cls-29,
.cls-52,
.cls-59,
.cls-65 {
  fill: #8f7050;
}
.cls-29 {
  opacity: 0.86;
}
.cls-30 {
  clip-path: url(#clip-path-4);
}
.cls-31 {
  opacity: 0.25;
}
.cls-32 {
  opacity: 0.65;
}
.cls-33 {
  fill: #8d233b;
}
.cls-33,
.cls-46,
.cls-47 {
  opacity: 0.48;
}
.cls-34 {
  fill: #b3ada6;
}
.cls-35 {
  fill: #d1cac2;
}
.cls-36 {
  fill: #3b3938;
}
.cls-37 {
  fill: #00858f;
}
.cls-38 {
  fill: #c5e1e3;
}
.cls-39 {
  opacity: 0.11;
}
.cls-40 {
  opacity: 0.18;
}
.cls-42 {
  clip-path: url(#clip-path-5);
}
.cls-43 {
  fill: #5ba7b0;
}
.cls-44 {
  fill: #824229;
}
.cls-45 {
  clip-path: url(#clip-path-6);
}
.cls-47 {
  fill: #6e303d;
}
.cls-48 {
  fill: #f7e4b9;
}
.cls-49 {
  fill: #ffecc2;
}
.cls-50 {
  fill: #a6927e;
}
.cls-51 {
  fill: #ffda7f;
}
.cls-52,
.cls-53 {
  opacity: 0.62;
}
.cls-53 {
  fill: #806448;
}
.cls-54 {
  fill: #ede4e1;
}
.cls-55 {
  fill: #d1b89f;
}
.cls-56 {
  fill: #715840;
}
.cls-58 {
  fill: #e3e3e3;
}
.cls-59 {
  opacity: 0.39;
}
.cls-60 {
  fill: #fff5f2;
}
.cls-61 {
  fill: #cfa86e;
}
.cls-62 {
  fill: #416e80;
}
.cls-63 {
  clip-path: url(#clip-path-7);
}
.cls-64 {
  clip-path: url(#clip-path-8);
}
.cls-65 {
  opacity: 0.58;
}
.cls-66 {
  fill: #703723;
}
.cls-67 {
  clip-path: url(#clip-path-9);
}
.cls-68 {
  fill: #787879;
  opacity: 0.63;
}
.cls-69 {
  fill: #1c1c1c;
}
.cls-70 {
  fill: #dd4545;
}
.cls-71 {
  fill: #cc3b3c;
}
.cls-72 {
  fill: #dd3131;
}
.cls-73 {
  fill: #f04f4f;
}
.cls-74 {
  fill: #3d3232;
}
.cls-75 {
  fill: #4a3d3d;
}
.cls-76 {
  fill: #a8d9e0;
}
.cls-77 {
  fill: #4e5c61;
}
.cls-78 {
  clip-path: url(#clip-path-10);
}
.cls-79 {
  fill: #607983;
}
.cls-80 {
  fill: #50595c;
}
.cls-81 {
  opacity: 0.64;
}
.cls-82 {
  clip-path: url(#clip-path-11);
}
.cls-83 {
  fill: #991c1f;
  opacity: 0.2;
}
